* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #ffe6e9;
  font-family: "Quicksand", sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.local-gif,
.gif-result {
  max-width: 300px;
  width: 100%;
  border-radius: 12px;
  display: block;
  margin: 0 auto 2rem;
}

.question {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.button-container {
  position: relative;
  height: 80px;
}

.btn {
  position: absolute;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
  background: #ff6b81;
  color: #fff;
  box-shadow: 0 4px 15px rgba(255, 107, 129, 0.5);
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.yes-btn {
  left: 20%;
 
}

.no-btn {
  left: 55%;
   margin: 10px;
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(255,107,129,0.7);
}

.no-btn:hover {
  transform: none;   /* scale হবে না */
  box-shadow: 0 4px 15px rgba(255,107,129,0.5); /* মূল shadow */
}
.result-container {
  display: none;
  text-align: center;
}

.cssload-main {
  display: none;
  margin-top: 20px;
  font-size: 60px;
}


.cssload-main {
  display: none;
  font-size: 60px;
  text-align: center;
  animation: popHeart 1s ease-in-out infinite;
}

@keyframes popHeart {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}